body{
    background-color: #d9d9d9;
    
}

header{
    position: absolute;
    left: 0;
    right: 0;
    top: 0; 
    height: 9%;
    background-color: #eb4034;
    text-align: center;
    color: #d9d9d9;
    font-size: 22px;
}





.timeline{
    position:absolute ;
    left: 38,5%;
    right: 25%; 
    top: 9%;
    height: 29%;
    width: 50%;
    background-color: #2e2e2e;
    text-align: justify;
    color: #d9d9d9;
    font-size: 20px;

}

.timeline2{
    position:absolute ;
    left: 38,5%;
    right: 25%; 
    top: 39%;
    height: 30%;
    width: 50%;
    background-color: #2e2e2e;
    text-align: right;
    color: #d9d9d9;
    font-size: 22px;
}

.timeline3{
    position:absolute ;
    left: 38,5%;
    right: 25%; 
    bottom:1%;
    height: 29%;
    width: 50%;
    background-color: #2e2e2e;
    text-align: left;
    color: #d9d9d9;
    font-size: 24px;
}

input{
    border: 0;
    background: none;
    display: block;
    text-align: center;
    border: 2px solid #d9d9d9;
    padding: 14px 10px;
    width: 200px;
    outline: none;
    color: #ffff;
    border-radius: 24px;
    transition: 0.25s;
    background-color: #000000;
    color: #d9d9d9;
}

input:hover{
    width: 280px;
    border-color: #ff4747;
    color: #ff4747;
}
.search{
    position:absolute;
    left: 3%;
    top: 10%;

}


.slika{
    position:absolute;
    top: 15%;
    right: 8%;
    width: 30%;
    height: 85%;

}

.profil{
    position:absolute;
    height: 80%;
    width: 4%;
    top: 10%;
    bottom: 5%;
    right: 5%;
    border-radius: 50px;
    
}


.slika2{
    position:absolute;
    left: 5%;
    top: 5%;
    height: 80%;
    width: 25%;
}

.slika3{
    position:absolute;
    top: 15%;
    right: 8%;
    width: 30%;
    height: 80%;

}
